.button {
    background-color: lightgreen;
    color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: background-color .5s ease-in-out;

    &:hover {
        background-color: blue;
    }
}